/* General setup */

.App {
  text-align: center;
}

.content {
  margin: 30px;
  text-decoration: none;
}



/* NavBar.js */

.navContainer {
  display: flex;
  height: 70px;
  justify-content: flex-end;
  margin: 30px 120px 0 0;
  position:sticky;
  top:0;
  background-color: white;
}

.navContainer li {
  font-size: 35px;
}


/* AllUsers.js */

.allUsersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.indivisual {
  position: relative;
  margin: 0 50px 50px 50px;
  background-color: #007bff0e;
  border-radius: 50%;
  box-shadow:  1px 1px 20px 1px rgba(217,217,217,0.8);
}

.indivisual img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 1px rgba(217,217,217,0.8);
}

.overlay {
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #569eeb;
}

.indivisual:hover .overlay {
  opacity: 1;
}

.indivisualName {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* SingleUser.js */

.names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;

}

.names li {
  margin: 15px;
  text-decoration: none;
  background-color: #569eeb;
  padding: 10px;
  border-radius: 20px;
  color: white;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.names li:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



.singleUserContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}


.identity {
  top: 100px;
  position: sticky;
  margin: 0 50px;
}

.singleUserContainer img {
  width: 420px;
  margin-bottom: 30px;
}


/* .userInfo {
  text-align: center;
  margin-top: 50px;
} */



.allPosts {
  background-color: #569eeb;
  padding: 10px;
  width: 500px;
  height: 500px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.singlePost {
  background-color: white;
  width: 100px;
  margin: 15px;
}
